@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--primary);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-Heat-main: var(--heat-main);
  --color-Heat-second: var(--heat-second);
  --color-Bulls-main: var(--bulls-main);
  --color-Bulls-second: var(--bulls-second);
  --color-Lakers-main: var(--lakers-main);
  --color-Lakers-second: var(--lakers-second);
  --color-Bucks-main: var(--bucks-main);
  --color-Bucks-second: var(--bucks-second);
  --color-Spurs-main: var(--spurs-main);
  --color-Spurs-second: var(--spurs-second);
  --color-Hawks-main: var(--hawks-main);
  --color-Hawks-second: var(--hawks-second);
  --color-Celtics-main: var(--celtics-main);
  --color-Celtics-second: var(--celtics-second);
  --color-Clippers-main: var(--clippers-main);
  --color-Clippers-second: var(--clippers-second);
  --color-Nets-main: var(--nets-main);
  --color-Nets-second: var(--nets-second);
  --color-Hornets-main: var(--hornets-main);
  --color-Hornets-second: var(--hornets-second);
  --color-Suns-main: var(--suns-main);
  --color-Suns-second: var(--suns-second);
  --color-Mavericks-main: var(--mavericks-main);
  --color-Mavericks-second: var(--mavericks-second);
  --color-Nuggets-main: var(--nuggets-main);
  --color-Nuggets-second: var(--nuggets-second);
  --color-Pistons-main: var(--pistons-main);
  --color-Pistons-second: var(--pistons-second);
  --color-Warriors-main: var(--warriors-main);
  --color-Warriors-second: var(--warriors-second);
  --color-Rockets-main: var(--rockets-main);
  --color-Rockets-second: var(--rockets-second);
  --color-Pacers-main: var(--pacers-main);
  --color-Pacers-second: var(--pacers-second);
  --color-Grizzlies-main: var(--grizzlies-main);
  --color-Grizzlies-second: var(--grizzlies-second);
  --color-Timberwolves-main: var(--timberwolves-main);
  --color-Timberwolves-second: var(--timberwolves-second);
  --color-Pelicans-main: var(--pelicans-main);
  --color-Pelicans-second: var(--pelicans-second);
  --color-Knicks-main: var(--knicks-main);
  --color-Knicks-second: var(--knicks-second);
  --color-Thunder-main: var(--thunder-main);
  --color-Thunder-second: var(--thunder-second);
  --color-Magic-main: var(--magic-main);
  --color-Magic-second: var(--magic-second);
  --color-Sixers-main: var(--sixers-main);
  --color-Sixers-second: var(--sixers-second);
  --color-Blazers-main: var(--blazers-main);
  --color-Blazers-second: var(--blazers-second);
  --color-Kings-main: var(--kings-main);
  --color-Kings-second: var(--kings-second);
  --color-Raptors-main: var(--raptors-main);
  --color-Raptors-second: var(--raptors-second);
  --color-Jazz-main: var(--jazz-main);
  --color-Jazz-second: var(--jazz-second);
  --color-Cavaliers-main: var(--cavaliers-main);
  --color-Cavaliers-second: var(--cavaliers-second);
  --color-Wizards-main: var(--wizards-main);
  --color-Wizards-second: var(--wizards-second);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: white;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: #191b40;
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: #3b1c1e;
  --secondary-light: #683336;
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
  --heat-main: #98002e;
  --heat-second: #f9a01b;
  --bulls-main: #ce1141;
  --bulls-second: #000000;
  --lakers-main: #552583;
  --lakers-second: #fdb927;
  --bucks-main: #00471b;
  --bucks-second: #eee1c6;
  --spurs-main: #000000;
  --spurs-second: #c4ced4;
  --hawks-main: #e03a3e;
  --hawks-second: #c1d32f;
  --celtics-main: #007a33;
  --celtics-second: #ba9653;
  --clippers-main: #c8102e;
  --clippers-second: #1d428a;
  --nets-main: #000000;
  --nets-second: #ffffff;
  --hornets-main: #1d1160;
  --hornets-second: #00788c;
  --suns-main: #1d1160;
  --suns-second: #e56020;
  --mavericks-main: #00538c;
  --mavericks-second: #002b5c;
  --nuggets-main: #0e2240;
  --nuggets-second: #fecd43;
  --pistons-main: #ed174c;
  --pistons-second: #006bb6;
  --warriors-main: #1d428a;
  --warriors-second: #ffc72c;
  --rockets-main: #ce1141;
  --rockets-second: #000000;
  --pacers-main: #002d62;
  --pacers-second: #ffc633;
  --grizzlies-main: #5d76a9;
  --grizzlies-second: #12173f;
  --timberwolves-main: #0c2340;
  --timberwolves-second: #78be20;
  --pelicans-main: #0c2340;
  --pelicans-second: #85714d;
  --knicks-main: #006bb6;
  --knicks-second: #f58426;
  --thunder-main: #007ac1;
  --thunder-second: #ef3b24;
  --magic-main: #0077c0;
  --magic-second: #c4ced4;
  --sixers-main: #006bb6;
  --sixers-second: #ed174c;
  --blazers-main: #e03a3e;
  --blazers-second: #000000;
  --kings-main: #5a2d81;
  --kings-second: #63727a;
  --raptors-main: #ce1141;
  --raptors-second: #000000;
  --jazz-main: #002b5c;
  --jazz-second: #f9a01b;
  --cavaliers-main: #6f263d;
  --cavaliers-second: #041e42;
  --wizards-main: #002b5c;
  --wizards-second: #e31837;
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
