@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--primary);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-Heat-main: var(--Heat-main);
  --color-Heat-second: var(--Heat-second);
  --color-Bulls-main: var(--Bulls-main);
  --color-Bulls-second: var(--Bulls-second);
  --color-Lakers-main: var(--Lakers-main);
  --color-Lakers-second: var(--Lakers-second);
  --color-Bucks-main: var(--Bucks-main);
  --color-Bucks-second: var(--Bucks-second);
  --color-Spurs-main: var(--Spurs-main);
  --color-Spurs-second: var(--Spurs-second);
  --color-Hawks-main: var(--Hawks-main);
  --color-Hawks-second: var(--Hawks-second);
  --color-Celtics-main: var(--Celtics-main);
  --color-Celtics-second: var(--Celtics-second);
  --color-Clippers-main: var(--Clippers-main);
  --color-Clippers-second: var(--Clippers-second);
  --color-Nets-main: var(--Nets-main);
  --color-Nets-second: var(--Nets-second);
  --color-Hornets-main: var(--Hornets-main);
  --color-Hornets-second: var(--Hornets-second);
  --color-Suns-main: var(--Suns-main);
  --color-Suns-second: var(--Suns-second);
  --color-Mavericks-main: var(--Mavericks-main);
  --color-Mavericks-second: var(--Mavericks-second);
  --color-Nuggets-main: var(--Nuggets-main);
  --color-Nuggets-second: var(--Nuggets-second);
  --color-Pistons-main: var(--Pistons-main);
  --color-Pistons-second: var(--Pistons-second);
  --color-Warriors-main: var(--Warriors-main);
  --color-Warriors-second: var(--Warriors-second);
  --color-Rockets-main: var(--Rockets-main);
  --color-Rockets-second: var(--Rockets-second);
  --color-Pacers-main: var(--Pacers-main);
  --color-Pacers-second: var(--Pacers-second);
  --color-Grizzlies-main: var(--Grizzlies-main);
  --color-Grizzlies-second: var(--Grizzlies-second);
  --color-Timberwolves-main: var(--Timberwolves-main);
  --color-Timberwolves-second: var(--Timberwolves-second);
  --color-Pelicans-main: var(--Pelicans-main);
  --color-Pelicans-second: var(--Pelicans-second);
  --color-Knicks-main: var(--Knicks-main);
  --color-Knicks-second: var(--Knicks-second);
  --color-Thunder-main: var(--Thunder-main);
  --color-Thunder-second: var(--Thunder-second);
  --color-Magic-main: var(--Magic-main);
  --color-Magic-second: var(--Magic-second);
  --color-Sixers-main: var(--Sixers-main);
  --color-Sixers-second: var(--Sixers-second);
  --color-TrailBlazers-main: var(--Blazers-main);
  --color-TrailBlazers-second: var(--Blazers-second);
  --color-Kings-main: var(--Kings-main);
  --color-Kings-second: var(--Kings-second);
  --color-Raptors-main: var(--Raptors-main);
  --color-Raptors-second: var(--Raptors-second);
  --color-Jazz-main: var(--Jazz-main);
  --color-Jazz-second: var(--Jazz-second);
  --color-Cavaliers-main: var(--Cavaliers-main);
  --color-Cavaliers-second: var(--Cavaliers-second);
  --color-Wizards-main: var(--Wizards-main);
  --color-Wizards-second: var(--Wizards-second);
  --color-customGrey: var(--custom-grey);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: white;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: #191b40;
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: #3b1c1e;
  --secondary-light: #683336;
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
  --Heat-main: #98002e;
  --Heat-second: #f9a01b;
  --Bulls-main: #ce1141;
  --Bulls-second: #000000;
  --Lakers-main: #552583;
  --Lakers-second: #fdb927;
  --Bucks-main: #00471b;
  --Bucks-second: #eee1c6;
  --Spurs-main: #000000;
  --Spurs-second: #c4ced4;
  --Hawks-main: #e03a3e;
  --Hawks-second: #c1d32f;
  --Celtics-main: #007a33;
  --Celtics-second: #ba9653;
  --Clippers-main: #c8102e;
  --Clippers-second: #1d428a;
  --Nets-main: #000000;
  --Nets-second: #ffffff;
  --Hornets-main: #1d1160;
  --Hornets-second: #00788c;
  --Suns-main: #1d1160;
  --Suns-second: #e56020;
  --Mavericks-main: #00538c;
  --Mavericks-second: #002b5c;
  --Nuggets-main: #0e2240;
  --Nuggets-second: #fecd43;
  --Pistons-main: #ed174c;
  --Pistons-second: #006bb6;
  --Warriors-main: #1d428a;
  --Warriors-second: #ffc72c;
  --Rockets-main: #ce1141;
  --Rockets-second: #000000;
  --Pacers-main: #002d62;
  --Pacers-second: #ffc633;
  --Grizzlies-main: #5d76a9;
  --Grizzlies-second: #12173f;
  --Timberwolves-main: #0c2340;
  --Timberwolves-second: #78be20;
  --Pelicans-main: #0c2340;
  --Pelicans-second: #85714d;
  --Knicks-main: #006bb6;
  --Knicks-second: #f58426;
  --Thunder-main: #007ac1;
  --Thunder-second: #ef3b24;
  --Magic-main: #0077c0;
  --Magic-second: #c4ced4;
  --Sixers-main: #006bb6;
  --Sixers-second: #ed174c;
  --TrailBlazers-main: #e03a3e;
  --TrailBlazers-second: #000000;
  --Kings-main: #5a2d81;
  --Kings-second: #63727a;
  --Raptors-main: #ce1141;
  --Raptors-second: #000000;
  --Jazz-main: #002b5c;
  --Jazz-second: #f9a01b;
  --Cavaliers-main: #6f263d;
  --Cavaliers-second: #041e42;
  --Wizards-main: #002b5c;
  --Wizards-second: #e31837;
  --Base-main: #191b40;
  --Base-second: #3b1c1e;
  --custom-grey: #242424;
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
